<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daedalus Library</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="main-container center">
        <div class="timer-container center">
            <div class="timer center">00:00:00</div>
            <div class="buttons center">
                <button id="studyBtn">study</button>
                <button id="breakBtn">break</button>
                <button id="finishedBtn">finished</button>
            </div>
        </div>
    </div>

    <script type="module" src="../static/dist/script.js"></script>
</body>
</html>